.answer{
    width:80%;
    height:500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows : 1fr 1fr;
    grid-gap: 1em 1em;
    margin : 5% auto 0 auto;

    .reponse{
        background-color: red; 
        display: grid;
        .rep-title{
            width:80%;
            height:20px;
            background-color:green;
            margin:auto;
        }
    }

}