* {
  margin: 0;
  padding: 0;
  color: $white;
}
body {
  background-color: #10193c;
}
a,
button {
  cursor: pointer;
  background-color: #10193c;
  border: none;
  border-radius: 10px;
  font-size: 30px;
}
