.container {
  margin: auto;
  display: table;
  margin-top: 15vh;
  width: auto;
  background-color: $bleu;
  border-radius: 30px;
  text-align: center;
  padding: 2%;
  &:nth-child(n + 1) {
    padding: 10px;
  }
}
